<div>
  <h2 class="text-2xl font-bold">Let's look at prompts</h2>

  <div class="mt-2">
    <p class="text-slate-300">
      Finding the most relevant prompts in dataset using different methods.
      Dataset has <span class="font-bold"><%= @count %></span> entries.
    </p>
    <p>
      Start typing query to show suggestions.
    </p>
  </div>

  <div data-controller="prompts">
    <input type="text" data-action="input->prompts#update" placeholder="Query...">
    <h3 class="mt-5 font-bold text-xl">Default ElasticSearch algorithm:</h3>
    <div data-prompts-target="suggestions" class="text-xs mt-4">
      No suggestions found.
    </div>
    <div class="mt-5">
      By default ElasticSearch uses BM25 algorithm.
      I want to add some fun, and utilize vector similarity search functionality
      using OpenAI vectorizer. It can be replaced by publicly available pretrained
      models like BERT or Word2vec, but it is easier to implement.
    </div>
    <h3 class="mt-5 font-bold text-xl">Vector search:</h3>
    <div>
      This approach utilizes ElasticSearch cosine similarity vector search functionality.
      Vectors are generated using OpenAI embeddings API, text-embedding-ada-002 model.
    </div>
    <div data-prompts-target="vectorSuggestions" class="text-xs mt-4">
      No suggestions found.
    </div>
  </div>
</div>
